$body-bg: #0c0b10;

$white: #fff;
$black: #000;

$border-radius: 10px;
$input-border-radius: 30px;

$text-color: #bcbbbf;
$primary-color: #28272d;
$notification-color: #b50000;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;